.nav {
  position: relative;
  display: none;
  align-items: center;
  gap: var(--space-md);
}

@media (min-width: 1000px) {
  .nav {
    display: flex;
  }
}

.item {
  position: relative;
  display: inline-block;
  font-size: var(--fs-small);
  font-weight: var(--fw-body-medium);
  padding-bottom: 0.4rem;
}

.item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-base);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--dur-micro) var(--ease-micro);
}

.item:hover::after {
  transform: scaleX(1);
}
